@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root{
	position: relative;
	height:  100%;
	background:  #222;
	color:  white;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 300;
}

h1, h2{
	margin-bottom: 0.1em;
}

h1{
	font-size: 2.25rem;
}

h2{
	font-size: 1.25rem;
}

p, li{
	margin-bottom: 0.75em;
}

a{
	text-decoration: underline;
}
strong{
	font-weight: 700;
}

.results{
	background-image:
		repeating-linear-gradient(0deg, rgb(100, 100, 100), rgb(100, 100, 100) 4px, transparent 4px, transparent 8px, rgb(100, 100, 100) 8px),
		repeating-linear-gradient(90deg, rgb(100, 100, 100), rgb(100, 100, 100) 4px, transparent 4px, transparent 8px, rgb(100, 100, 100) 8px),
		repeating-linear-gradient(180deg, rgb(100, 100, 100), rgb(100, 100, 100) 4px, transparent 4px, transparent 8px, rgb(100, 100, 100) 8px),
		repeating-linear-gradient(270deg, rgb(100, 100, 100), rgb(100, 100, 100) 4px, transparent 4px, transparent 8px, rgb(100, 100, 100) 8px);
	background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-right: 1.25em solid;
}

.city-select::after{
	position: absolute;	    
	display: inline-block;
	top: calc(50% - 0.75em);
	right: 0.5em;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
	font-size: 1.5rem;
  content: "\f107";
  pointer-events: none;
}

.results::before{
	content: "";
	position: absolute;
	left: 50%;
	right: 0;
	margin: 0 auto;
	top: -50px;
	height: 50px;
	background-image:
		repeating-linear-gradient(0deg, rgb(100, 100, 100), rgb(100, 100, 100) 4px, transparent 4px, transparent 8px, rgb(100, 100, 100) 8px);
	background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}