@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root{
	height:  100%;
	background:  #222;
	color:  white;
	font-family:  Inter, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

strong{
	font-weight: 700;
}

.results{
	background-image:
		repeating-linear-gradient(0deg, #ffffff, #ffffff 4px, transparent 4px, transparent 8px, #ffffff 8px),
		repeating-linear-gradient(90deg, #ffffff, #ffffff 4px, transparent 4px, transparent 8px, #ffffff 8px),
		repeating-linear-gradient(180deg, #ffffff, #ffffff 4px, transparent 4px, transparent 8px, #ffffff 8px),
		repeating-linear-gradient(270deg, #ffffff, #ffffff 4px, transparent 4px, transparent 8px, #ffffff 8px);
	background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}